/* some style */

body, html, div.wrapper, nav.navbar {
    margin: 0;
    padding: 0;
}

body, html, div.wrapper {
    overflow: hidden;
}

div.wrapper {
    position: relative;
}

div.button-bar {
    width: 100%;
    position: absolute;
}

div.color-swatch {
  display: inline-block;
  border: 1px solid black;
  margin-bottom: -2px;
  margin-left: 5px;
  width: 15px;
  height: 15px;
}

div.sketch-item {
    padding: 10px;
    border: 1px solid #eee;
    cursor: pointer;
}

div.sketch-item:hover {
    background-color: #cfc;
}
