/* some style */

body, html, div.wrapper, nav.navbar {
    margin: 0;
    padding: 0;
}
/*
body, html, div.wrapper {
    overflow: hidden;
}
*/
div.wrapper {
    position: relative;
}

div.button-bar {
    width: 100%;
    position: absolute;
}
